<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <div align="center">
        <h2>Edit Record</h2>

        <form method="post" action="/updateRecord" enctype="multipart/form-data">
            <table cellspacing="10" cellpadding="5"
                style="border-radius: 5px; border: 3px solid black; font-weight: 700; width: 50%;" align="center">
                <tr>
                    <td>Id:</td>
                    <input type="hidden" value="<%= single.id %>" name="editid">
                </tr>
                <tr>
                    <td>Book-Name:</td>
                    <td>
                        <input type="text" value="<%= single.name %>" name="name" style="width: 97%;">
                    </td>
                </tr>
                <tr>
                    <td>Book-price:</td>
                    <td> <input type="text" value="<%= single.price %>" name="price"></td>
                </tr>
                <tr>
                    <td>Book-Pages:</td>
                    <td> <input type="text" value="<%= single.pages %>" name="pages"></td>
                </tr>

                <tr>
                    <td>Book-Author:</td>
                    <td> <input type="text" value="<%= single.author %>" name="author"></td>
                </tr>


                <tr>
                    <td>Image:</td>
                    <td><input type="file" name="image">
                        <img src="<%= single.image %>" width="100" />
                    </td>
                </tr>



                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Add Record" style="background-color: #004225;
                     width: 20%; height: 30px;border: 1px solid black; color: white; font-weight: 700; border-radius: 5px;"></td>
                </tr>
            </table>



            <br>

            <center> <a href="/" style="font-size: 18px; font-weight: 700; color: brown; text-decoration: none;">Click
                    to View Your Data..!</a></center>

        </form>
    </div>
</body>

</html>